<div class="chat-section">
    <div class="bubble"><p>a</p></div>
    
    <div class="bubble">
        <p>
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
        </p>
    </div>
    <div class="bubble"><p>This is a speech bubble</p></div>

    <div class="bubble reply">
        <p>
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
            This is a speech bubble
        </p>
    </div>
    
    <div class="bubble"><p>This is a speech bubble</p></div>
    
    <div class="bubble reply"><p>This is a speech bubble</p></div>

    <div class="bubble typing">
        <p> 
            <span>Typing</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
    </div>

    <div class="bubble">har</div>
</div>