@import '../variables.scss';

.chat-section {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
    
    height: 100%;
    width: 100%;
    
    background-color: $mainColor;

    .bubble {
        font-size: 36px;

        display: grid;
        z-index: 1000;
        
        position: relative;
        width: fit-content;
        text-align: justify;
        align-self: end;

        margin: 10px;
        margin-left: 50px;
        margin-right: 25px;
        padding: 10px;
        
        border-radius: 10px;
        background-color: $colorA;
        color: white;
        
        p {
            margin: 0;
            grid-column: 1;
            grid-row: 1;
        }

        &::before {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            z-index: -1;
            overflow: hidden;

            justify-self: end;
            
            grid-column: 1;
            grid-row: 1;
            
            border-bottom: 35px solid transparent;
            border-left: 35px solid $colorA; 
            border-top-right-radius: 20px;
            transform: translate(20px, -10px);
        }

        &.reply, &.typing {
            align-self: start;
            background-color: $colorB;
            margin-left: 25px;
            margin-right: 50px;

            &::before {
                justify-self: start;
                border-left: 0;
                border-right: 35px solid $colorB; 
                border-top-right-radius: 0;
                border-top-left-radius: 20px;
                transform: translate(-30px, -10px);
            }
        }

        &.typing {
            p {
                display: flex;
                flex-direction: row;

                span:not(:first-child) {
                    display: block;
                    height: fit-content;
                    animation: 1s bobbing infinite;
                    
                    @for $i from 2 through 4 {
                        &:nth-child(#{$i}) {
                            animation-delay: $i * 0.2s;
                        }
                    }
                }

                @keyframes bobbing {
                    0%, 70%, 100% {
                        transform: translateY(0%);
                    }
                    25% {
                        transform: translateY(-20%);
                    }
                }
            }
        }
    }
}