main {
    display: grid;
    margin: 0;
    height: 100%;
    & > * {
        margin: 0;
        border: 2px solid red;
    }
    nav {
        grid-row: 1;
        grid-column: 1;
    }

    .chat {
        grid-row: 1;
        grid-column: 2;
    }
}