<div class="chat-section">
    <div *ngFor="let message of messages" class="bubble" [class.reply]="!message.fromMe">
        <p>{{message.text}}</p>
    </div>
    <!--div class="bubble reply"><p>a</p></div>
    
    <div class="bubble"><p>This is a speech bubble</p></div>
    
    
    <div class="bubble reply"><p>a</p></div>
    <div class="bubble typing">
        <p> 
            <span>Typing</span>
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
    </div-->

</div>